$bodyColor: #808080;
$font-family_1: 'DM Sans', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$mainColor: #f2f3f4;
$minHeight: 100hv;
$navBackColor: #3a4eca;
$headerBackColor: #309661;
$articleBackColor: #D0F366;
$asideBackColor: #ef5b5b;
$footerBackColor: #89248E;
$transparentColor: rgb(0,0,0,0);
$tabLabelColor: #f97f7f;
$tabLabelHoveredCl: #f33c3c;
$tabLabelInputCheckedCl: #874545;
$dropdownColor: #3a4eca;
$dropdownContCl: #e7fcff;
$shadowColor: #00000033;

$transition: all 0.3s ease-in-out;
$transitionDelay: 0.1s;